body {
  background: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  cursor: crosshair;
  display: block;
}

#water {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/530/113/desktop-wallpaper-3d-under-the-sea-under-the-sea.jpg");
  background-size: cover;
  opacity: 0.7;
  pointer-events: none;
}

.container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  width: 80%; /* Cambiado a porcentaje */
  max-width: 520px; /* Añadido un máximo de 520px */
  margin: auto;
  padding: 5vw; /* Ajustado para que el padding sea relativo al ancho de la pantalla */
  box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
}

.container form {
  margin-top: 5vw; /* Ajustado para que el margen sea relativo al ancho de la pantalla */
}

.form-group {
  position: relative;
  margin-bottom: 5vw; /* Ajustado para que el margen sea relativo al ancho de la pantalla */
}

.form-group input {
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 2vw; /* Ajustado para que el padding sea relativo al ancho de la pantalla */
  width: 80%;
  height: 5vw; /* Ajustado para que la altura sea relativa al ancho de la pantalla */
  background-color: transparent;
  border-radius: 2vw; /* Ajustado para que el borde sea relativo al ancho de la pantalla */
  box-sizing: border-box;
  font-size: 2vw; /* Ajustado para que el tamaño de letra sea relativo al ancho de la pantalla */
}

input:placeholder-shown + label {
  padding: 2vw 2vw;
  top: -5vw; /* Ajustado para que el top sea relativo al ancho de la pantalla */
  color: #ffffff;
  opacity: 0;
  display: block;
  transform: translate(2vw, -2rem); /* Ajustado para que el traslado sea relativo al ancho de la pantalla */
}

input::placeholder {
  color: #ffffff;
  font-size: 2vw; /* Ajustado para que el tamaño de letra sea relativo al ancho de la pantalla */
}

.container input[type="text"]:focus,
.container input[type="password"]:focus {
  outline: none;
}

.animated-button {
  display: inline-block;
  padding: 2vw 4vw; /* Ajustado para que el padding sea relativo al ancho de la pantalla */
  font-size: 2vw;
  border-radius: 1vw; /* Ajustado para que el borde sea relativo al ancho de la pantalla */
  border: none;
  background-color: #1b1b1b;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.animated-button:hover {
  background-color: #1E90FF;
}

.animated-button:active {
  transform: scale(0.95);
}

.container button:hover {
  color: #ffffff;
}
